body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #ea00b3bc;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: hwb(267 53% 1%);
    color: white;
}

main {
    padding: 40px 0;
    background-color: #ffffff;
}

.profile-list h2 {
    color: #6200ea;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#profile-list {
    list-style-type: none;
    padding: 10px;
    text-align: center;

}

#profile-list li {
    margin: 10px 0;
}

#profile-list a {
    text-decoration: none;
    color: #9a5cf1;
    font-size: 1.5em;
    background-color: #e8eaf6;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#profile-list a:hover {
    background-color: #bb86fc;
    color: white;
}

footer {
    background-color: #6200ea;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 5px solid #bb86fc;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
